@import "src/styles.scss";

.fa-3 {
   font-size: 2em !important;
}

.nav-picture{
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  
  
}
.alert-icon {
   font-size: 3em;
   color: #EB4D5C;

}
