<div class="row">
  <h3>Mudança de senha</h3>
</div>
<form #updatePasswordForm="ngForm" (ngSubmit)="onSubmit()" materialize>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-3 col-form-label">Nova senha:</label>
      <div class="col-sm-9">
        <input type="password"
        class="form-control"
        placeholder="Nova senha"
        required
        [(ngModel)]="_updatePasswordData.password"
        name="password"
        id="inputPassword">
      </div>
    </div>
    <div class="form-group row">
        <label for="passwordConfirmation" class="col-sm-3 col-form-label">Confirme nova senha:</label>
      <div class="col-sm-9">
        <input type="password"
        class="form-control"
        placeholder="Confirme nova senha"
        required
        [(ngModel)]="_updatePasswordData.passwordConfirmation"
        name="passwordConfirmation"
        id="inputpasswordConfirmation">
      </div>
    </div>
    <div class="form-group row">
        <label for="passwordCurrent" class="col-sm-3 col-form-label">Senha atual:</label>
      <div class="col-sm-9">
        <input type="password"
        class="form-control"
        placeholder="Senha atual"
        required
        [(ngModel)]="_updatePasswordData.passwordCurrent"
        name="passwordCurrent"
        id="inputpasswordCurrent">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-3 col-sm-9">
        <button
        type="submit"
        
        [disabled]="!updatePasswordForm.form.valid"
        class="waves-effect waves-light btn blue right">
            Enviar<i class="material-icons right">send</i>
        </button>
      </div>
    </div>
</form>
