<form [formGroup]="editForm" (ngSubmit)="save()" materialize>
  <div class="row">
    <div class="col s12 ">
      <div  class="row ">
        <h4>Dados pessoais:</h4>
        <p>(Campos com * são obrigatórios)</p>
        <div class="col md6 profile-box">
          <div *ngIf="user?.photo.url == null || user?.photo.url == ''">
            <!--i class="fa fa-user-circle user-icon"></i-->
            <!--i class="material-icons user-icon">add_a_photo</i-->
            <div class="profile-picture" [ngStyle]="{'background-image': 'url(' + img + ')'}">
            </div>
          </div>
          <div *ngIf="user?.photo.url != null">
            <div class="profile-picture" [ngStyle]="{'background-image': 'url(' + img + ')'}">
            </div>
          </div>
          <div class="file-field input-field">
            <div class="waves-effect waves-orange btn sign-up-button">
              <i class="material-icons left">add_a_photo</i>
              <span>Escolha</span>
              <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpeg,.png,.jpg">
            </div>
            
          </div>
          <!--input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpeg,.png,.jpg"-->
        </div>
      </div>
        <div class="row">
          <div class="col m4" >
            <div class="form-group">
              <label class="control-label" for="textinput">Nome</label>
              <input id="textinput"  type="text"  class="form-control input-md" formControlName="name" >
            </div>
          </div>
          <div class="col m4">
            <div class="form-group">
              <label  for="email" data-error="wrong" data-success="right">Email*</label>
              <input id="email" type="email" class="validate" formControlName="email"
              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            </div>
          </div>
            <div class="col m4">
              <div class="form-group">
                <label class="control-label" for="textinput">Apelido</label>
                <input id="textinput"  type="text"  class="form-control input-md" formControlName="nickname" >
              </div>
            </div>
          </div>
          <div class="row">
            <h4>Dados empresariais:</h4>
           
              <div class="col m4">
                <div class="form-group">
                  <label class="control-label" for="textinput">Nome da empresa*</label>
                  <input id="textinput"  type="text"  class="form-control input-md" formControlName="company_name" >
                </div>
              </div>
              <div class="col m4">
                <div class="form-group">
                  <label class="control-label" for="textinput">Nome abreviado*</label>
                    <input (keyup)="onKey($event)" id="textinput" maxlength="11" type="text" placeholder="Nome curto para o logo" class="form-control input-md" formControlName="short_name" >
                </div>
              </div>
             <div class="col m4">
              <div class="form-group">
                <label  for="company_email" data-error="wrong" data-success="right">Email*</label>
                <input id="company_email" type="email" class="validate" formControlName="company_email"
                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
              </div>
            </div>
          </div>
          <button type="submit"
                [disabled]="!(editForm.valid)" 
                class="waves-effect waves-light btn blue right">
            Salvar <i class="material-icons right">send</i>
          </button>
    </div>
  </div>
</form>
<h3>Form changes</h3>
      <pre><code><app-form-debug [form]="editForm"></app-form-debug></code></pre>